%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li
      = link_to destroy_user_session_path, method: :delete do
        %span.glyphicon.glyphicon-off
        Logout
  - else
    %li= link_to 'Login', new_user_session_path
    %li= link_to 'Signup', new_user_session_path
